@page
@model npresume2.Pages.Registration.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NpRegistration[0].Npname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NpRegistration[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NpRegistration[0].Phonenumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NpRegistration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Npname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Npid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Npid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Npid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
